@import 'vars';
@import 'fonts';

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden; 
  font-family: 'Roboto-Regular', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.container {
  padding: 0 20px;
}
@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 41px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 41px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
    padding: 0 0;
  }
}

.header {
  background-color: $accent;
  &__inner {
    min-width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 640px) {
  .header {
    &__inner {
      min-height: 100px;
    }
  }
}

.logo__link {
  margin-left: 5px;
}
@media (min-width: 640px) {
  .logo__link {
    margin-left: 23px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 3px;
  }
}

.menu__btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  position: relative;
  &::after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $accent;
    position: absolute;
    top: 15px;
    left: 15px;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}
@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 60px;
  }
}

.head {
  background-image: url(../images/bg-slider.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

.top-slider {
  background: rgba(33, 33, 33, 0.50);
  &__item {
    color:#fff;
    text-align: center ;
  }
  &__title {
    font-family: 'RobotoCondensed-Regular';
    line-height: 28px;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
  }
}